@import "../../../../variables";

:host {
  background-color: var(--light-grey);
  padding: 2rem;
}

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  font-size: 150%;
  margin-bottom: 3rem;
}

.more-container {
  display: flex;
  justify-content: center;
}

.more-link {
  text-transform: uppercase;
}

@media screen and (max-width: $desktop) {
  :host:not(.odd-element) {
    background-color: var(--dark-grey);
  }
}
