<div class="social-media-list">
  <div class="image-wrapper">
    <a href="https://discord.gg/9rRhYYZ">
      <img src="assets/img/social-media-icons/discord.svg">
    </a>
  </div>
  <div class="image-wrapper">
    <a href="https://twitter.com/ScytheofSeraph">
      <img src="assets/img/social-media-icons/twitter.svg">
    </a>
  </div>
  <div class="image-wrapper">
    <a href="https://www.facebook.com/scytheofseraph/">
      <img src="assets/img/social-media-icons/facebook.svg">
    </a>
  </div>
  <div class="image-wrapper">
    <a href="https://www.youtube.com/channel/UCQXYfaVTAadlM4diBAGLOqQ">
      <img src="assets/img/social-media-icons/youtube.svg">
    </a>
  </div>
</div>
