<div class="social-media-list">
  <div class="image-wrapper">
    <a href="https://discord.gg/9rRhYYZ" target="_blank">
      <img alt="discord-logo" src="/assets/img/social-media-icons/discord.svg">
    </a>
  </div>
  <div class="image-wrapper">
    <a href="https://twitter.com/ScytheofSeraph" target="_blank">
      <img alt="twitter-logo" src="/assets/img/social-media-icons/twitter.svg">
    </a>
  </div>
  <div class="image-wrapper">
    <a href="https://www.facebook.com/scytheofseraph/" target="_blank">
      <img alt="facebook-logo" src="/assets/img/social-media-icons/facebook.svg">
    </a>
  </div>
  <div class="image-wrapper">
    <a href="https://www.youtube.com/channel/UCQXYfaVTAadlM4diBAGLOqQ" target="_blank">
      <img alt="youtube-logo" src="/assets/img/social-media-icons/youtube.svg">
    </a>
  </div>
</div>
