.news-preview {
  position: relative;
  max-height: 200px;
  height: 100%;
  opacity: 0;

  &.loaded {
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  .title {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  a .title {
    color: white;
  }

  .link {
    position: absolute;
    right: 8px;
    bottom: 10px;
  }

  .image-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}
