<ng-container *ngIf="isBrowser">
  <div class="news-preview" [ngClass]="{loaded: loadedImage, 'animate': animate}"
       ngxInViewport (inViewport)="animate = true" [oneTime]="true">
    <a [routerLink]="['/', 'page', news.id]" [name]="news.title">
      <strong class="title">{{news.title}}</strong>
      <div class="image-wrapper">
        <img *ngIf="getImage(news) | async" alt="News Preview Image" [src]="getImage(news) | async" (load)="loadedImage = true"/>
      </div>
      <span class="link">more</span>
    </a>
  </div>
</ng-container>
