<section class="sos-section">
  <div class="sos-group">
    <div class="sos-flex has-gutter is-multiline">
      <div *ngFor="let team of teams | async; let i = index" class="cell-1of3">
        <app-team-preview [team]="team" [index]="i"></app-team-preview>
      </div>
    </div>
    <div class="text-wrapper">
      <h2 class="title alt">We're looking for you</h2>
      <p>
        As an esports organisation we are now looking for teams in Dota 2 and Rocket League.
        Furthermore we are searching for Hearthstone and Smash players, who want to represent our organisation.
        If you have a team and want to play for us, join our Discord and write Elwe a message!
      </p>
    </div>
  </div>
</section>
