@import "../../../../variables";

.has-gutter {
  margin-bottom: 0;
}

.has-gutter > * {
  margin-bottom: 100px;
}

.text-wrapper {
  max-width: var(--page-content-width);
}

@media screen and (max-width: $desktop) {
  [class*="sos-flex"] > .cell-1of3 { flex-basis: 50%; }

  .team-wrapper::before {
    display: none;
  }
}

@media screen and (max-width: $phone) {
  [class*="sos-flex"] > .cell-1of3 { flex-basis: 100%; }

  .has-gutter {
    margin: -20px -40px 20px -40px;
  }

  .has-gutter > * {
    margin-bottom: 0;
  }
}
