@import "../../../../variables";

.has-gutter > * {
  margin-bottom: 100px;
}

.team-wrapper {
  position: relative;
  height: 300px;
  overflow: hidden;

  &::before {
    content: "";
    background: url("/assets/img/teams/red-overlay.svg") no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 130px;
    width: 100%;
    opacity: 0;
    transform: translateY(25%);
    transition: opacity 0.25s ease-in-out, transform 0.3s ease-in-out;
  }

  &:hover {
    box-shadow: 2px 2px 6px var(--black);
    transition: box-shadow 0.3s linear;

    &::before {
      transform: translateY(0);
      opacity: 1;
    }
  }

  h2 {
    position: absolute;
    margin: 20px;
    font-size: 28px;
  }

  .image-wrapper {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      max-width: 100%;
    }
  }
}

.text-wrapper {
  max-width: var(--page-content-width);
}

@media screen and (max-width: $desktop) {
  [class*="sos-flex"] > .cell-1of3 { flex-basis: 50%; }
}

@media screen and (max-width: $phone) {
  [class*="sos-flex"] > .cell-1of3 { flex-basis: 100%; }

  .has-gutter {
    margin: -40px -40px 20px -40px;
  }

  .has-gutter > * {
    margin-bottom: 0;
  }
}
