<div class="navigation" [class.is-open]="isOpen" [class.-animated]="isMenuAnimated">
  <ul>
    <li [class.active]="currentRoute === ''">
      <a (click)="toggleNavigation(false)" routerLink="/">Home</a>
    </li>
    <li [class.active]="currentRoute === 'news'">
      <a (click)="toggleNavigation(false)" routerLink="/news">News</a>
    </li>
    <li [class.active]="currentRoute === 'match'">
      <a (click)="toggleNavigation(false)" routerLink="/match">Matches</a>
    </li>
    <li [class.active]="currentRoute === 'teams'">
      <a (click)="toggleNavigation(false)" routerLink="/teams">Teams</a>
    </li>
    <li *ngIf="isAuthorizedUser | async" [class.active]="currentRoute === 'admin'">
      <a (click)="toggleNavigation(false)" routerLink="/admin">Admin</a>
    </li>
  </ul>
</div>
<div class="nav-icon" (click)="toggleNavigation()" [class.is-open]="isOpen">
  <span class="toggle-menu-bars" aria-hidden="true"></span>
</div>
