<div class="sos-section">
  <div class="sos-group">
    <table>
      <thead>
      <tr>
        <td>Date</td>
        <td>Game</td>
        <td>Teams</td>
        <td>Controls</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of matches | async">
        <td>{{match.date.toDate() | date}}</td>
        <td>{{match.game.name}}</td>
        <td *ngIf="!match.isTournament">{{match.teams.team1?.name}} vs. {{match.teams.team2?.name}}</td>
        <td *ngIf="match.isTournament">{{match.teams.team1?.name}} at {{match.tournamentName}}</td>
        <td><a [routerLink]="match.id" class="icon"><mat-icon>edit</mat-icon></a><a (click)="deleteMatch(match.id)" class="icon"><mat-icon>delete</mat-icon></a></td>
      </tr>
      </tbody>
    </table>
    <button routerLink="add">Add Match</button>
  </div>
</div>
