@import "../../../variables";

.logo {
  display: inline-block;
  height: 80px;
  width: 100px;
}

.header-content {
  display: flex;
  align-items: center;
  height: 100px;

  .banner {
    height: 480px;
  }
}

@media screen and (max-width: $tablet) {
  .logo {
    height: 50px;
    width: 60px;
  }

  .header-content {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
  }
}
