<header class="header">
  <div class="sos-section has-no-bottom-space has-no-top-space">
    <div class="header-content">
      <a routerLink="/">
        <img class="logo" alt="logo" src="assets/img/logo.svg">
      </a>
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="banner">
    <div class="foreground" [ngClass]="{hidden: hideTitle}">
      <h1 class="title">{{title | async}}</h1>
    </div>
    <div class="background">
      <img [class.loading]="loading" (load)="loading = false" *ngIf="image" [src]="image" alt="Header Image"/>
    </div>
  </div>
</header>
