<header class="header">
  <div class="sos-section has-no-bottom-space has-no-top-space">
    <div class="header-content">
      <a routerLink="/">
        <img class="logo" alt="logo" src="assets/img/logo.svg">
      </a>
      <app-navigation></app-navigation>
    </div>
  </div>
  <div class="banner">
    <div class="foreground" [ngClass]="{hidden: hideTitle}">
      <h1 class="title">{{title | async}}</h1>
    </div>
    <div class="animation-layer" [ngClass]="{animate: animate}">
    </div>
    <div class="background" [ngClass]="{loading: loading}">
      <img (load)="loadedImage()" *ngIf="image" [src]="image" alt="Header Image"/>
    </div>
  </div>
</header>
