<div class="sos-section">
  <div class="sos-group">
    <table>
      <thead>
      <tr>
        <td>ID</td>
        <td>Title</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let page of pages | async">
        <td>{{page.id}} <a target="_blank" [routerLink]="['/', 'page', page.id]"><mat-icon>open_in_new</mat-icon></a></td>
        <td>{{page.title}}</td>
        <td>
          <a [routerLink]="page.id">Edit</a>
          <button (click)="delete(page)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <form>
      <fieldset>
        <div class="sos-flex has-gutter is-multiline">
          <app-input-field class="form-row cell-1of2">
            <input appInput [model]="model" #model="ngModel" [(ngModel)]="newPageId" name="Page ID" id="newPageId"/>
            <label for="newPageId">New Page ID</label>
          </app-input-field>
          <div class="form-row cell-1of2">
            <button (click)="newPage(newPageId)">Add Page</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
