@import "../../../../variables";

.navigation {
  display: inline-block;

  ul {
    list-style: none;

    li {
      display: block;
      cursor: pointer;

      &.active {
        color: var(--dark-red);
      }
    }
  }
}
