:host /deep/ {
  textarea {
    height: 300px;
    resize: vertical;
    width: 100%;
    color: inherit;
    padding: 15px;
    border: 2px solid var(--form-default-color);
    font-size: var(--default-font-size);
  }

  textarea:focus {
    border-radius: 1px;
    outline: 0;
    border-color: var(--form-active-color);
    /* box-shadow: 0 0 0 1px var(--page-background), 0 0 0 4px hsla(var(--form-active-color), 0.35); */
  }

  textarea:invalid {
    border-radius: 1px;
    outline: 0;
    border-color: var(--form-error-color);
    /* box-shadow: 0 0 0 1px var(--page-background), 0 0 0 4px hsla(var(--form-active-color), 0.35); */
  }

  /* --- Label --- */
  label:not(.is-static) {
    position: absolute;
  }
  label {
    color: var(--form-default-color);
    margin-bottom: 0;
    left: calc(var(--layout-gutter-width) / 2 + 15px);
    top: 15px;
    transform: translate3d(0, 0, 0);
    transform-origin: left bottom;
    opacity: 0.85;
    will-change: opacity, transform;
  }

  label span {
    white-space: nowrap;
  }

  .text-area-wrapper.active label {
    color: var(--form-active-color);
    transform: translate3d(-15px, -2.6em, 0) scale(0.7);
    opacity: 1;
  }

  .text-area-wrapper.active.filled label {
    color: var(--form-default-color);
  }
}
