.submit-message {
  font-weight: bold;

  .error {
    color: var(--light-red);
  }
}

.loading .button-wrapper input {
  background-image: url("/assets/img/icons/loading-icon.svg");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
