<h2 class="title">Contact Us</h2>
<form (submit)="send()" #form="ngForm" class="contact-form" [ngClass]="{'loading': loading}">
  <fieldset>
    <div class="sos-flex has-gutter is-multiline">
      <app-input-field class="form-row cell-1of2">
        <input appInput name="firstname" id="firstname" required type="text"
               autocomplete="given-name" [model]="model" #model="ngModel"
               [(ngModel)]="firstname">
        <label for="firstname" >Firstname
          <dfn title="required">*</dfn>
        </label>
      </app-input-field>
      <app-input-field class="form-row cell-1of2">
        <input appInput name="surname" id="surname" required type="text"
               autocomplete="family-name" [model]="model" #model="ngModel"
               [(ngModel)]="surname">
        <label for="surname" >Surname
          <dfn title="required">*</dfn>
        </label>
      </app-input-field>
      <app-input-field class="form-row cell-1of2">
        <input appInput name="email" id="email" required type="email"
               autocomplete="email" [model]="model" #model="ngModel"
               [(ngModel)]="email">
        <label for="email" >Email
          <dfn title="required">*</dfn>
        </label>
      </app-input-field>
      <app-input-field class="form-row cell-1of2">
        <input appInput name="phone" id="phone" type="tel"
               autocomplete="tel" [model]="model" #model="ngModel"
               [(ngModel)]="phone">
        <label for="phone" >Phone</label>
      </app-input-field>
      <app-input-field class="form-row cell-1of1">
        <input appInput name="subject" id="subject" required type="text"
               [model]="model" #model="ngModel"
               [(ngModel)]="subject">
        <label for="subject" >Subject
          <dfn title="required">*</dfn>
        </label>
      </app-input-field>
      <app-text-area class="form-row cell-1of1">
        <textarea appInput name="message" [model]="model" #model="ngModel"
                  id="message" [(ngModel)]="message"></textarea>
        <label for="message">Message</label>
      </app-text-area>
      <app-checkbox class="form-row cell-1of1">
        <input name="privacy" id="privacy" required
               type="checkbox" [(ngModel)]="isChecked">
        <label class="checkbox-label" for="privacy">
          I have read and agree to the <a routerLink="/data-policy" target="_blank">data policy</a>.
        </label>
      </app-checkbox>
      <div class="button-wrapper cell-1of1">
        <input type="submit" [disabled]="form.invalid"><img src="/assets/img/icons/loading-icon.svg">
      </div>
      <div class="submit-message">
        <p *ngIf="showSuccess">{{successMessage}}</p>
        <p *ngIf="showError" class="error">{{errorMessage}}</p>
      </div>
    </div>
  </fieldset>
</form>
