<div class="sos-section">
  <div class="sos-group">
    <form *ngIf="team" #form="ngForm">
      <fieldset>
        <div class="sos-flex has-gutter is-multiline">
          <ng-container *ngIf="provideId">
            <app-input-field class="form-row cell-1of2">
                <input appInput required [model]="model" #model="ngModel" [(ngModel)]="team.id" name="Id" id="id"/>
                <label for="id">ID</label>
            </app-input-field>
          </ng-container>
          <app-input-field class="form-row cell-1of2">
            <input appInput [model]="model" #model="ngModel" [(ngModel)]="team.name" name="Name" id="name"/>
            <label for="name">Name</label>
          </app-input-field>
          <app-input-field class="form-row cell-1of2">
            <input appInput [model]="model" #model="ngModel" [(ngModel)]="team.logoUrl" name="Logo" id="logo"/>
            <label for="logo">Logo URL</label>
          </app-input-field>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="sos-section players-form">
  <div class="sos-group">
    <ng-container *ngIf="showPlayers">
      <h2 class="title">Players</h2>

      <form>
        <fieldset>
          <div class="sos-flex has-gutter is-multiline">
            <app-input-field class="form-row cell-1of2">
              <input appInput name="p_name" [model]="model" #model="ngModel" [(ngModel)]="player.name" id="p_name"/>
              <label for="p_name">Name</label>
            </app-input-field>

            <app-input-field class="form-row cell-1of2">
              <input appInput name="p_nickname" [model]="model" #model="ngModel" [(ngModel)]="player.nickname" id="p_nickname"/>
              <label for="p_nickname">Nickname</label>
            </app-input-field>
            <app-input-field class="form-row cell-1of2">
              <input appInput name="p_avatar" [model]="model" #model="ngModel" [(ngModel)]="player.avatarUrl" id="p_avatar"/>
              <label for="p_avatar">Avatar URL</label>
            </app-input-field>
            <app-input-field class="form-row cell-1of2">
              <input appInput name="p_role" [model]="model" #model="ngModel" [(ngModel)]="player.role" id="p_role"/>
              <label for="p_role">Role</label>
            </app-input-field>

            <div class="button-wrapper cell-1of1">
              <button (click)="addPlayer()">Add Player</button>
            </div>
          </div>
        </fieldset>
      </form>

      <div class="player-list-wrapper sos-flex has-gutter is-multiline">
        <app-team-person *ngFor="let player of team.players" [player]="player" class="cell-1of2"></app-team-person>
      </div>
    </ng-container>
  </div>
</div>
