.players-form {
  background-color: var(--light-grey);
}

.player-list-wrapper {
  padding: var(--section-padding-top) 0;
}

.player-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
