<div class="sos-section">
  <div class="sos-group small-width">
    <article class="article">
      <p>
        Scythe of Seraph is a native german speaking esports organisation. We think that the proximity to the players and the community is important and that is the reason why we love to talk with everyone of the community on our Discord.
      </p>
      <p>
        Please contact us with the form below or per email:<br>
        <br>
        <strong>General Inquiries</strong><br>
        <a href="mailto:info@scytheofseraph.com">info@scytheofseraph.com</a><br>
        <br>
        <strong>Sponsoring</strong><br>
        <a href="mailto:zischler@scytheofseraph.com">zischler@scytheofseraph.com</a><br>
        <br>
        <strong>Team Management</strong><br>
        <a href="mailto:gunnarbear@scytheofseraph.com">gunnarbear@scytheofseraph.com</a><br>
      </p>
    </article>
  </div>
</div>
<div class="sos-section">
  <div class="sos-group small-width">
    <app-contact-form></app-contact-form>
  </div>
</div>
