<div class="sos-section">
  <div class="sos-group small-width">
    <article class="article">
      <p>
        Scythe of Seraph is a native german speaking esports organisation. We think that the proximity to the players and the community is important and that is the reason why we love to talk with everyone of the community on our Discord.
        <br>
        The players live in Germany and Switzerland and are motivated to participate at local events.
      </p>
    </article>
  </div>
</div>
<div class="sos-section">
  <div class="sos-group small-width">
    <app-contact-form></app-contact-form>
  </div>
</div>
