@import "../../../../variables";

.first-element {
  margin-left: 0;
}

@media screen and (max-width: $tablet) {
  .cell-1of3 {
    flex-basis: 50%;
  }
}

@media screen and (max-width: $phone) {
  [class*="sos-flex"].has-gutter {
    margin-left: 0;
    margin-right: 0;
  }

  [class*="sos-flex"].has-gutter > * {
    padding-left: 0;
    padding-right: 0;
  }

  .cell-1of3 {
    flex-basis: 100%;
  }

  .sos-section {
    padding: 0;
  }
}

