<footer>
  <section class="sos-section">
    <div class="sos-group">
      <div class="sos-flex has-gutter is-multiline">
        <div class="cell-1of3">
          <app-footer-navigation></app-footer-navigation>
        </div>
        <div class="cell-1of3">
          <app-linked-list></app-linked-list>
        </div>
        <div class="cell-1of3">
          <app-social-media-list></app-social-media-list>
        </div>
        <div class="cell-1of3">© {{currentYear}} Scythe of Seraph</div>
      </div>
    </div>
  </section>
</footer>
