<div class="sos-section">
  <div class="sos-group">
    <h2 class="title">Page</h2>
    <form>
      <fieldset>
        <div class="sos-flex has-gutter is-multiline">
          <mat-form-field>
            <mat-select placeholder="Type" name="type" [(ngModel)]="contentType" class="form-row cell-1of2">
              <mat-option>title</mat-option>
              <mat-option>image</mat-option>
              <mat-option>paragraph</mat-option>
            </mat-select>
          </mat-form-field>
          <app-input-field class="form-row cell-1of2">
            <input appInput name="content-id-new" [model]="model" #model="ngModel" [(ngModel)]="contentId" id="content-id-new"/>
            <label for="content-id-new">Content ID</label>
          </app-input-field>
          <div class="button-wrapper cell-1of2">
            <button (click)="addContent(contentId, contentType)">Add Content</button>
          </div>
        </div>
      </fieldset>
    </form>
    <form class="content-list-wrapper sos-flex has-gutter is-multiline">
      <fieldset class="sos-flex has-gutter is-multiline">
        <ng-container *ngFor="let content of page?.content | keyvalue">
          <div class="content-item cell-1of1">
            <div class="sos-flex has-gutter is-multiline">
              <app-input-field class="form-row cell-1of3">
                <input appInput name="content-id-{{content.key}}" [model]="model" #model="ngModel" [(ngModel)]="content.key" id="content-id-{{content.key}}"/>
                <label for="content-id-{{content.key}}">ID</label>
              </app-input-field>
              <ng-container *ngIf="content.value.type === 'title'">
                <app-input-field class="form-row cell-2of3">
                  <input appInput name="title-{{content.key}}" [model]="model" #model="ngModel" [(ngModel)]="content.value.title" id="title-{{content.key}}"/>
                  <label for="title-{{content.key}}">Title</label>
                </app-input-field>
              </ng-container>
              <ng-container *ngIf="content.value.type === 'image'">
                <app-input-field class="form-row cell-2of3">
                  <input appInput name="image-{{content.key}}" [model]="model" #model="ngModel" [(ngModel)]="content.value.image" id="image-{{content.key}}"/>
                  <label for="image-{{content.key}}">Image URL</label>
                </app-input-field>
              </ng-container>
              <ng-container *ngIf="content.value.type === 'paragraph'">
                <app-text-area class="form-row cell-2of3">
                <textarea appInput name="paragraph-{{content.key}}" [model]="model" #model="ngModel"
                          id="paragraph-{{content.key}}" [(ngModel)]="content.value.text"></textarea>
                  <label for="paragraph-{{content.key}}">Paragraph Text</label>
                </app-text-area>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </fieldset>
    </form>
  </div>
</div>
