.add-content-form {
  padding-top: calc(var(--section-padding-top));
}

mat-form-field {
  color: white;
}

.content-item {
  position: relative;
  background: var(--dark-grey);

  .input-wrapper {
    margin-right: 70px;
  }

  .delete-icon {
    position: absolute;
    right: 0;
    top: 25%;
    transform: translateY(-50%);
    padding-right: calc(var(--layout-gutter-width) / 2);
  }

  .drag-handle {
    cursor: move;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    right: 60px;
  }

  &.is-text {
    .delete-icon,
    .drag-handle {
      top: 0;
      transform: none;
    }
  }
}

hr {
  margin: var(--section-padding-bottom) -4rem;
  height: 2px;
}
