<div class="sos-section">
  <div class="sos-group">
    <h2 class="title">Page</h2>
    <form>
      <fieldset>
        <div class="sos-flex has-gutter is-multiline">
          <mat-form-field appearance="standard">
            <mat-select placeholder="Type" name="type" [(ngModel)]="contentType" class="form-row cell-1of2">
              <mat-option value="title">Title</mat-option>
              <mat-option value="image">Image</mat-option>
              <mat-option value="paragraph">Paragraph</mat-option>
            </mat-select>
          </mat-form-field>
          <div class="button-wrapper cell-1of2">
            <button (click)="addContent(contentType)">Add Content</button>
          </div>
        </div>
      </fieldset>
    </form>
    <form class="content-list-wrapper sos-flex has-gutter is-multiline">
      <fieldset cdkDropList (cdkDropListDropped)="drop($event)" class="sos-flex has-gutter is-multiline">
        <div cdkDrag *ngFor="let content of page?.content; let index = index">
          <div class="content-item cell-1of1">
            <div class="sos-flex has-gutter is-multiline">
              <ng-container *ngIf="content.type === 'title'">
                <app-input-field class="form-row cell-2of3">
                  <input appInput name="title-{{index}}" [model]="model" #model="ngModel" [(ngModel)]="content.title" id="title-{{index}}"/>
                  <label for="title-{{index}}">Title</label>
                </app-input-field>
              </ng-container>
              <ng-container *ngIf="content.type === 'image'">
                <app-input-field class="form-row cell-2of3">
                  <input appInput name="image-{{index}}" [model]="model" #model="ngModel" [(ngModel)]="content.image" id="image-{{index}}"/>
                  <label for="image-{{index}}">Image URL</label>
                </app-input-field>
              </ng-container>
              <ng-container *ngIf="content.type === 'paragraph'">
                <app-text-area class="form-row cell-2of3">
                <textarea appInput name="paragraph-{{index}}" [model]="model" #model="ngModel"
                          id="paragraph-{{index}}" [(ngModel)]="content.text"></textarea>
                  <label for="paragraph-{{index}}">Paragraph Text</label>
                </app-text-area>
              </ng-container>
            </div>
            <button (click)="removeContent(content)">Remove</button>
          </div>
          <span cdkDragHandle>drag</span>
        </div>
      </fieldset>
    </form>
  </div>
</div>
