@import "../../../../variables";
.teams-table {
  width: 100%;
  margin-bottom: 20px;

  thead {
    background: var(--light-grey);
  }

  td {
    border: solid 1px var(--light-grey);
  }

  td,
  th {
    padding: 10px;
  }
}
