<div class="sos-section">
  <div class="sos-group">
    <div class="teams-wrapper">
      <h2 class="title">Teams</h2>
      <table class="teams-table">
        <thead>
          <tr class="sos-flex is-multiline">
            <th class="cell-1of3">ID</th>
            <th class="cell-1of3">Name</th>
          </tr>
        </thead>
        <tbody>
        <tr class="sos-flex is-multiline" *ngFor="let team of teams | async">
          <td class="cell-1of3">{{team.id}}</td>
          <td class="cell-1of3">{{team.name}}</td>
          <td class="cell-1of3">
            <div>
              <a [routerLink]="team.id">Edit</a>
            </div>
            <div>
              <a (click)="delete(team.id)">Delete</a>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <a routerLink="add">Add Team</a>
    </div>
  </div>
</div>
