.sos-person {
  display: flex;
  opacity: 0;
  transform: translateY(30px);

  &.loaded.animate {
    opacity: 1;
    transition: opacity 0.25s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(0);
  }

  .left {
    margin-right: 20px;

    .image-wrapper {
      max-width: 130px;
      max-height: 130px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 130px;
        height: auto;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: left;

    b {
      display: block;
      margin: 10px 0;
    }

    .nickname {
      color: var(--dark-red);
    }
  }
}
