<div class="sos-section">
  <div class="sos-group">
    <div class="title-container">
      <span class="title">Match Results</span>
    </div>
  </div>
</div>

<div class="sos-section">
  <div class="sos-group">
    <app-basic-stats *ngIf="(match | async)" [match]="(match | async)"></app-basic-stats>
  </div>
</div>

<div class="sos-section round-stats-section"
     *ngFor="let round of (match | async)?.rounds; let isOdd = odd"
     [ngClass]="{'odd-element': isOdd}"
>
  <div class="sos-group">
    <app-round-stats *ngIf="(match | async)?.teams" [round]="round" [teams]="(match | async)?.teams" class="round-stats"></app-round-stats>
  </div>
</div>

<div class="sos-section bg-dark">

</div>
