<div class="sos-section">
  <div class="sos-group small-width">
    <app-team-back-arrow></app-team-back-arrow>
    <div class="title-container">
      <h2 class="title">Match Results</h2>
    </div>

    <app-match-preview *ngIf="(match | async)" [match]="(match | async)" [isDetail]="true"></app-match-preview>
  </div>
</div>

<div class="sos-section round-stats-section"
     *ngFor="let round of (match | async)?.rounds; let isOdd = odd"
     [ngClass]="{'odd-element': isOdd}"
>
  <div class="sos-group small-width">
    <app-round-stats *ngIf="(match | async)?.teams" [round]="round" [teams]="(match | async)?.teams" class="round-stats"></app-round-stats>
  </div>
</div>

<div class="sos-section bg-dark">

</div>
