@import "../../../../variables";

.title-container {
  display: flex;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  font-size: 250%;
}

.round-stats {

}

.sos-section.round-stats-section {
  padding-bottom: 5rem;

  background-color: var(--light-grey);

  &.odd-element {
    background-color: var(--dark-grey);
  }
}

.sos-section.bg-dark {
  background-color: var(--dark-grey);
  padding: 1rem;
}

@media screen and (max-width: $tablet) {
  .title {
    font-size: 150%;
  }
}
