/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

@import "styles/bootstrap";
@import "styles/text";
@import "styles/image";
@import "styles/flex";
@import "styles/form";

@include mat-core();

$sos-app-primary: mat-palette($mat-red);
$sos-app-accent: mat-palette($mat-red);
$sos-app-warn: mat-palette($mat-red);

$sos-app-theme: mat-dark-theme($sos-app-primary, $sos-app-accent,
$sos-app-warn);

@include angular-material-theme($sos-app-theme);
