.basic-stats {
  text-transform: uppercase;
  font-weight: bold;
}

.logo-row {
  margin-bottom: calc(20px + (40 - 20) * (100vw - 320px) / (1440 - 320));
}

.logo-box {
  flex: 1 1 35%;
}

.logo {
  width: 100%;
}

.versus-box {
  flex: 0 0 30%;
}

.versus {
  font-size: 200%;
}

.score-box {
  flex: 0 0 35%;
}

.score {
  font-size: 240%;
  padding: .5rem;

  &.winner {
    background-color: var(--dark-red);
  }
}
